body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/background_canvas/bg.png');
    background-repeat: no-repeat; /* Das Hintergrundbild wird nicht wiederholt */
    background-size: cover; /* Das Hintergrundbild wird gestreckt, um den gesamten Hintergrund abzudecken */
    background-position: center; /* Das Hintergrundbild wird gestreckt, um den gesamten Hintergrund abzudecken */
}


canvas {
    background-color: black;
}