@font-face {
    font-family: 'Zabars';
    /* Name, den du für die Schriftart verwenden möchtest */
    src: url('fonts/Zabars.ttf');
    /* Pfad zur TTF-Datei */
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/background_canvas/dessert.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Zabars';
    color: bisque;
    display: flex;
    margin: 0;
}

h1 {
    font-size: 74px;
    margin-top: 8px;
    margin-bottom: 24px;
}

/* .fullscreenArea {
    position: relative;

} */

.fullscreenArea {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

canvas {
    display: block;
    background-color: black;
}

.startButton {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-shadow: 2px 2px #ffffff;
    color: red;
    animation: resizeAnimation 1800ms infinite;
}

.startButton:hover {
    color: #971217;
}

@keyframes resizeAnimation {
    0% {
        font-size: 53px;
        /* Startgröße */
    }

    50% {
        font-size: 55px;
        /* Zwischengröße */
    }

    100% {
        font-size: 53px;
        /* Endgröße */
    }
}

.gameOverLost {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.overlayLostGameImg {
    width: 720px;
    height: 480px;
}

.restartButtonLost {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-shadow: 2px 2px #ffffff;
    color: red;
    animation: resizeAnimation 1800ms infinite;
    width: max-content;
}

.gameOverWon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 720px;
    height: 480px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.restartButtonWon {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-shadow: 2px 2px #ffffff;
    color: red;
    animation: resizeAnimation 1800ms infinite;
    width: max-content;
}

.overlayWonGameText {
    font-size: 80px;
    color: rgb(254, 188, 0);
    font-weight: bold;
    text-shadow: 2px 2px #ffffff;
}

.openMenuButton {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-shadow: 2px 2px #ffffff;
    color: red;
    animation: resizeAnimation 1800ms infinite;
    width: max-content;
}

/* .infoSection {
    width: 150px;
    height: 480px;
    background-color: rgba(255, 150, 1, 0.8);
    position: absolute;
    left: -150px;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
    font-size: 32px;
} */

@keyframes slideIn {
    0% {
        left: 0px;
        /* Startposition links außerhalb des sichtbaren Bereichs */
    }

    100% {
        left: -150px;
        /* Endposition, Container sichtbar */
    }
}

@keyframes slideOut {
    0% {
        left: -150px;
        /* Startposition, Container sichtbar */
    }

    100% {
        left: 0;
        /* Endposition links außerhalb des sichtbaren Bereichs */
    }
}

.infoSection {
    width: 150px;
    height: 480px;
    background-color: rgba(255, 150, 1, 0.8);
    position: absolute;
    left: -150px;
    /* Container wird links ausgerichtet */
    top: 50%;
    /* Vertikal zentriert */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;
    box-sizing: border-box;
    font-size: 24px;
    z-index: -1;
    animation-duration: 0.5s;
    /* Dauer der Animation */
    animation-fill-mode: forwards;
    /* Endzustand beibehalten */
}

.slide-in {
    animation-name: slideIn;
}

.slide-out {
    animation-name: slideOut;
}

.infoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 24px;
}

.infoHeader {
    color: black;
    padding-bottom: 8px;
}

.infoDescription {
    font-size: 28px;
    color: #ed030b;
    text-shadow: 2px 2px #ffffff;
}

.d-none {
    display: none;
}

/* *****************FAQ***************** */

.faqButton {
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-shadow: 2px 2px #ffffff;
    color: red;
    text-decoration: none;
    animation: resizeAnimation 1800ms infinite;
}

.faqButton:hover {
    color: #971217;
}

.bodyFaq {
    padding: 8px 24px 8px 24px;
}

.headingFaq {
    color: white;
}

.questionsFaq {
    color: #ed030b;
    font-size: 28px;
    text-shadow: 2px 2px #ffffff;
}

.answersQuestions {
    color: white;
    font-size: 24px;
}


/* *****************Privacy And Lega Notice***************** */

.privacyAndLecagNoticeContainer {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.privacyAndLegalNoticeLink {
    text-decoration: none;
    color: black;
}

.bodyPrivacyAndLegalNotice {
    padding: 8px 24px 8px 24px;
}

.headingContainer {
    display: flex;
    justify-content: space-between;
}


/* *****************Smartphones***************** */

@media only screen and (max-width: 720px) {
    
    .mainHeading {
        display: none;
    }

    canvas {
        height: 100vh;
        width: 100%;
    }

    .privacyAndLegalNoticeLink {
        display: none;
    }

    .overlayLostGameImg {
        width: 100vw;
        height: 100vh;
    }

    .gameOverWon {
        width: 100%;
        height: 100%;
    }

    .privacyAndLecagNoticeContainer {
        display: none;
    }
}

@media only screen and (max-height: 480px) {

    .mainHeading {
        display: none;
    }

    body {
        display: block;
    }

    canvas {
        height: 100vh;
        width: 100%;
    }

    .privacyAndLegalNoticeLink {
        display: none;
    }

    .overlayLostGameImg {
        width: 100vw;
        height: 100vh;
    }

    .gameOverWon {
        width: 100%;
        height: 100%;
    }

    .privacyAndLecagNoticeContainer {
        display: none;
    }


}

@media only screen and (orientation: portrait) {
    .d-none-landscape {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        display: block;
        z-index: 999;
        width: 100vw;
        height: 100vh;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 44px;
        text-align: center;
    }

}

@media only screen and (orientation: landscape) {
    .d-none-landscape {
        display: none;
    }
}