@font-face {
    font-family: 'Zabars'; /* Name, den du für die Schriftart verwenden möchtest */
    src: url('fonts/Zabars.ttf'); /* Pfad zur TTF-Datei */
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('img/background_canvas/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Zabars';
    color: bisque;
}


canvas {
    background-color: black;
}

#startGameBtn {
    font-size: 50px;
    color: red;
    /* background-color: red; */
}

.startButton {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    text-shadow: 2px 2px #ffffff;
}

.d-none {
    display: none;
}

@keyframes resizeAnimation {
    0% {
        font-size: 53px; /* Startgröße */
    }
    50% {
        font-size: 55px; /* Zwischengröße */
    }
    100% {
        font-size: 53px; /* Endgröße */
    }
}

#startGameBtn {
    animation: resizeAnimation 1800ms infinite; /* Animation mit einer Dauer von 3 Sekunden, unendlich wiederholt */
}